/* Reset margin and box-sizing for all elements */
* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Header styling */
.header {
  height: 10vh; /* 10% of viewport height */
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

/* Header content styling */
.header-content {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
}

/* Logo image styling */
.header-content img {
  width: 50px;
  height: auto;
}

/* Brand name styling */
.brand_name {
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: #333;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

/* Logout button styling */
.home_logout_btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  height: 2.5rem;
  width: 6rem;
  border: none;
  border-radius: 8px;
  background: skyblue;
  color: #ffffff;
  font-size: 0.85rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  line-height: 2.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1001;
}

.home_logout_btn:hover {
  background: #2eb3e0;
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.home_logout_btn:focus {
  outline: none;
}

.home_logout_btn:active {
  background: #c0392b;
  transform: scale(0.98);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Profile styling */
.profile {
  position: absolute;
  top: 20px;
  right: 150px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 600;
  background-color: antiquewhite;
  color: peru;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Container for video card */
.video_container {
  height: calc(100vh - 10%); /* Adjust height based on the header's height */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000; 
  overflow-y: auto;
  

}


/* Upload button styling */
.upload {
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #ddd;
  position: absolute;
  right: 10px;
  margin-top: 2px;
}
